header {
  text-align: center;
}

header h1 a {
  margin: 0 auto;
  padding: 10px;
  font-size: 60px;
  font-weight: bold;
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:hover {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:active  {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:visited {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}
