header {
  text-align: center;
  border-top: 5px solid rgba(175, 47, 47, 0.3);
  background-color: rgba(223, 223, 223, 0.5);
  padding: 20px 0;
}

header h1 a {
  margin: 0 auto;
  font-size: 80px;
  font-weight: bold;
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:hover {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:active  {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:visited {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}

header h1 a:link {
  color: rgba(175, 47, 47, 0.5);
  text-decoration: none;
}
