.my-search-container {
  background-color: rgba(223, 223, 223, 0.2);
}

.my-search {
  padding: 30px 0;
  display: flex;
  margin-bottom: 30px;
}

.my-search .search-input {
  font-size: 16px;
  line-height: 24px;
  flex: 1;
  margin-right: 10px;
  height: 50px;
  padding: 10px;
  opacity: 0.8;
  border-radius: 2px;
  border: 2px solid #e1e4e8;
  font-weight: 600;
}

.my-search .search-button {
  width: 120px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 2px;
  background-color: rgb(0, 188, 212);
  border: none;
  color: white;
  cursor: pointer;
}