.posts {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.user {
  display: flex;
  padding: 10px 0;
  border-top: 1px solid #e1e4e8;
}

.user .avatar a {
  display: block;
}

.user .avatar img {
  width: 60px;
  height: 60px;
  border-radius: 3px;
}

.user .user-info {
  padding-left: 10px;
}

.user .user-info a {
  text-decoration: none;
  font-weight: bold;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

#react-paginate li {
  display: inline-block;
}

#react-paginate .break a {
  cursor: pointer;
}

.pagination > li > a {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  justify-content: center;
}