body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.my-container {
  max-width: 600px;
  margin: 0 auto;
}

.my-body {
  min-height: 700px;
}

.loading {
  height: 2400px;
}

.search-result {
  font-weight: bold;
  font-size: 16px;
  color: #586069;
}

@media screen and (max-width: 767px) {
  .my-container {
    padding: 0 10px;
  }
}